%p#notice= notice

%p
  %b Conversation:
  = @message.conversation_id
%p
  %b User:
  = @message.user
%p
  %b Body:
  = @message.body

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
