%h2 
  = @group.name
  
#breadcrumbs 
  = link_to 'All Groups', groups_path
  >>
  = @group.name

- @conversations.each do |conversation|
  .entries
    %p
      = link_to conversation.subject, group_conversation_path(@group, conversation)
    %p.group
      %span.left
        = pluralize conversation.messages_count, "message"
      %span.right
        %strong
          Last Post: 
        = conversation.last_message_date.strftime("%b %d, %Y %H:%M")
        by
        = conversation.last_message_user


