%h2 
  = @group.name
  
#breadcrumbs 
  = link_to 'All Groups', groups_path
  >>
  = @group.name

.page-info.group
  .left
    = #page_entries_info @conversations, :entry_name => 'conversation'
  .right
    = #will_paginate @conversations

- @conversations.each do |conversation|
  .entries
    %p
      = link_to conversation.subject, group_messages_path(@group, :thread => conversation.thread_param)
    %p.group
      %span.left
        = #pluralize conversation.authors_count, "author"
        = #pluralize conversation.descendants.length + 1, "message"
      %span.right
        %strong
          Last Message: 
        = #conversation.last_message_in_thread.created_at.strftime("%b %d, %Y @ %H:%M")
        = conversation.max_date.strftime("%b %d, %Y @ %H:%M")
        by
        = #conversation.last_message_in_thread.author
        = conversation.author
