%h2.subject
  Search
  - if @group
    %span 
      = link_to @group.name, group_path(@group)

%h4 
  %strong
    = @results.total_entries
  result(s)
  found for
  %strong
    = @query
    
.page-info.group
  .left
    = page_entries_info @results, :entry_name => 'result'
  .right
    = will_paginate @results
    
- @results.each do |result|
  .message
    %h4
      = link_to excerpt_result(result.subject, @query), group_messages_path(result.group, result.thread_param)
    %p
      = excerpt_result(result.body, @query)
    .footer
      = result.created_at.strftime("%B %d")
      by
      = result.user

.page-info.group
  .left
    = page_entries_info @results, :entry_name => 'result'
  .right
    = will_paginate @results        